// Helpers
.border-anglo {
  border-radius: 4px;

  &.card {
    border-bottom: 2px solid @mainCol2;
  }
}
.shadow {
  &.image {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 4px 4px 0 rgba(0,0,0,0.05), 0 8px 8px 0 rgba(0,0,0,0.05), 0 16px 16px 0 rgba(0,0,0,0.1), 0 32px 32px 0 rgba(0,0,0,0.1), 0 64px 64px 0 rgba(0,0,0,0.1);
    object-fit: contain;
  }
  &.card {
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);
  }
}

// Helpers ends

// modals start
.anglo-modal {
  position:fixed;
  display: block;
  top:0; left:0;
  width:100vw; height:100vh;
  z-index:-3;
  opacity:0;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

  will-change: opacity;

  h1 {
    font-family: 'dinpro-bold';
    text-transform:none;
  }

  .overlay {
    background: #000000a6;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    z-index:1;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    will-change: opacity;
  }

  sup {font-size:60%}

  .modal-info {
    max-width:50vw;
    width:100%;
    position: relative;
    z-index: 4;
    margin: 6vh auto 0 auto;

    .close-btn {
      position:absolute;
      top:30px; right:30px;
      padding-right: 40px;
      color:@mainCol4;
      font-size:18px; line-height:26px;
      cursor:pointer; *cursor:hand;
      font-family: 'dinpro-bold';

      &:after {
        content:'';
        width:30px; height:30px;
        position:absolute;
        right:0;top:0;
        display:block;
        background:url('../img/icons/btn-close.svg') no-repeat 0 0;
        background-size:100%;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      }

      &:hover {

        &:after {
          transform:scale(0.8);
        }
      }
    }

    .info,.media-panel {
      opacity:0;
      will-change: transform, opacity;

      iframe {
        border-radius:4px;
      }
    }

    .info {
      background:@mainCol1b;
      padding: 80px 50px;
      max-width:800px; width:100%;
      border-radius: 4px;
      border-bottom: 2px solid @mainCol2;


      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

      -webkit-transform: translateX(-100px);
      -khtml-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px);

      h1 {
        position: relative;
        padding: 0 0 0 30px;
        color:@mainCol4;
        font-size:48px; line-height:58px;

        &:before {
          content:'';
          height: 100%;
          width: 4px;
          position: absolute;
          left: 0;
          top: 0;
          background:@mainCol3;
        }
      }
      p {
        padding: 0 0 0 30px;
        color:@text1;
        font-size:18px; line-height:30px;
      }
    }
    .media-panel {
      position: absolute;
      left: 30px; top: 83%;
      padding: 0;
      max-width:860px; width:100%;
      border-radius: 4px;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

      -webkit-transform: translateX(100px);
      -khtml-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px);

      .anglo-btn {
        position:absolute;
        right:50px; bottom:-10px;
        border-radius:4px;
        border: 0;
        padding: 25px 50px 25px 40px;
        outline:0 !important;
        font-family: 'dinpro-bold';
        background:@mainCol4;
        color:@mainCol1b;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        &:after {
          content:'';
          width:18px; height:12px;
          background:url('../img/icons/btn-arrow.svg') no-repeat center center;
          display:inline-block;
          position: relative;
          top: 1px;
          left: 15px;
          will-change:left;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            left: 20px;
          }
        }
      }

      img {
        width:100%;
        border-radius: 4px;
      }
    }
  }

  &.welcome {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 8vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 60px 50px 10px 50px;
        max-width:800px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;


        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
        a {
          margin-top:20px;
          font-size:18px; line-height:30px;
          color:@mainCol4;
        }
      }
      .info-base {
        position:relative;
        background:@mainCol1b;
        max-width:800px; width:100%;
        padding: 10px 50px 80px 50px;
        margin:0 auto;
        border-top:0;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom: 2px solid @mainCol2;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        .anglo-btn {
          position:absolute;
          right:50px; bottom:-10px;
          border-radius:4px;
          border: 0;
          padding: 25px 50px 25px 40px;
          outline:0 !important;
          font-family: 'dinpro-bold';
          background:@mainCol4;
          color:@mainCol1b;
          box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

          &:after {
            content:'';
            width:18px; height:12px;
            background:url('../img/icons/btn-arrow.svg') no-repeat center center;
            display:inline-block;
            position: relative;
            top: 1px;
            left: 15px;
            will-change:left;

            -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          }

          &:hover {

            &:after {
              left: 20px;
            }
          }
        }

        audio {
          background-color: transparent;
          outline: 0 !important;
          width:100%;
        }
      }
    }
  }
  &.welcome-floor {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 8vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol1b;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:transparent;
        padding: 80px 0;
        max-width:1200px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;


        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        img {
          width:100%;
        }
      }
    }
  }
  &.thanks {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 20vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 100px 50px 50px 50px;
        max-width:1200px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 2px solid @mainCol2;
        overflow: hidden;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
        img {
          float:right;
          display:block;
          margin:0;
          max-width: 200px;
        }
      }
      .media-panel {
        position: absolute;
        left: 21.3%; top: -20%;;
        padding: 0;
        max-width: 300px; width:100%;
        border-radius: 4px;
        overflow:hidden;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(100px);
        -khtml-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);

        img {
          width:100%;
        }
      }
    }
  }
  &.innobox {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 8vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }
      .swiper-pagination {
        position: relative;
        text-align: left;
        bottom: 0;
        left: 30px;
        margin-bottom: 20px;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          margin-right:10px;
          display: inline-block;
          border-radius: 50%;
          background: #7A8CB7;
          opacity: 1;

          &:last-of-type {
            margin-right:0;
          }
          &.swiper-pagination-bullet-active {
            background: @mainCol4;
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 80px 50px;
        max-width:800px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 200px 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
      }
      .media-panel {
        position: absolute;
        background: transparent;
        max-width: 440px; width: 100%;
        top: 15%;
        left: 60%;
        padding: 30px 50px 80px 50px;
        margin:0 auto;
        border-radius:4px;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(100px);
        -khtml-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);

        .swiper-button-prev, .swiper-button-next {
          border-radius:4px;
          outline:0!important;
          padding: 20px;
          box-shadow: -7px 3px 14px 5px #00000024;

          &:after {
            display:none;
          }
        }
        .swiper-button-prev {
          background: @mainCol1b url('../img/icons/btn-arrow-left-red.svg') no-repeat center center;
          left: -10px;
        }
        .swiper-button-next {
          background: @mainCol1b url('../img/icons/btn-arrow-right-red.svg') no-repeat center center;
          right: -10px;
        }

        .swiper-shadow-box {
          position: absolute;
          top: 37px;
          left: 50px;
          z-index: 1;
          border-radius: 4px;
          width: 340px;
          height: 349px;
          box-shadow: -7px 3px 14px 5px #00000024;
        }
        .swiper-container {
          width: 100%;
          background: transparent;
          z-index:2;

          .swiper-slide {
            margin-bottom:60px;

            .profile-item {
              position: relative;
              border-bottom: 2px solid @mainCol2;
              overflow:hidden;
              width:100%;
              border-radius: 4px;

              .profile {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                border-bottom: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                width:100%;
                cursor:pointer; *cursor:hand;


                img {

                  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                }

                &:after {
                  content:'';
                  background: url('../img/icons/btn-play.svg') no-repeat center center;
                  background-size: 100%;
                  width: 60px; height: 60px;
                  border-radius: 4px;
                  position:absolute;
                  z-index:2;
                  left: 40%; top: 40%;
                  box-shadow: -13px -8px 14px 5px #00000024;

                  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                }
                &:before {
                  content:'';
                  display:block;
                  position:absolute;
                  z-index:1;
                  top:0; left:0;
                  width:100%; height:100%;
                  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,39,118,1) 96%);
                }

                &:hover {

                  img {
                    filter: saturate(0.5);
                  }
                  &:after {
                    transform:scale(0.9)
                  }

                }
              }
              .bio {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                padding: 20px 30px 60px 30px;
                width:100%;
                background:@mainCol1b;

                h1 {
                  color:@mainCol4;
                  font-size:24px; line-height:48px;
                  margin-top: 0;
                  opacity:0;

                  -webkit-transform: translateY(-50px);
                  -khtml-transform: translateY(-50px);
                  -moz-transform: translateY(-50px);
                  -ms-transform: translateY(-50px);
                  -o-transform: translateY(-50px);
                  transform: translateY(-50px);
                }
                p {
                  padding: 0;
                  color:@text1;
                  font-size:18px; line-height:30px;
                }
              }
            }

            .anglo-btn {
              position:absolute;
              right:30px; bottom:-10px;
              border-radius:4px;
              border: 0;
              padding: 25px 50px 25px 40px;
              outline:0 !important;
              font-family: 'dinpro-bold';
              background:@mainCol4;
              color:@mainCol1b;
              box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);

              -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

              &:after {
                content:'';
                width:18px; height:12px;
                background:url('../img/icons/btn-arrow.svg') no-repeat center center;
                display:inline-block;
                position: relative;
                top: 1px;
                left: 15px;
                will-change:left;

                -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
              }

              &:hover {

                &:after {
                  left: 20px;
                }
              }
            }

            &.swiper-slide-active {

              h1 {
                transition-delay: 0.4s;

                -webkit-transform: translateX(0px) translateY(0px) !important;
                -khtml-transform: translateX(0px) translateY(0px)!important;
                -moz-transform: translateX(0px) translateY(0px) !important;
                -ms-transform: translateX(0px) translateY(0px) !important;
                -o-transform: translateX(0px) translateY(0px) !important;
                transform: translateX(0px) translateY(0px) !important;
                opacity:1 !important;
              }
            }
          }
        }
      }
    }
  }
  &.speakers {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 6vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }
      .swiper-pagination {
        position: relative;
        text-align: center;
        bottom: 5px;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          margin-right:10px;
          display: inline-block;
          border-radius: 50%;
          background: #7A8CB7;
          opacity: 1;

          &:last-of-type {
            margin-right:0;
          }
          &.swiper-pagination-bullet-active {
            background: @mainCol4;
          }
        }
      }

      .info {
        background:#F6F8FB;
        padding: 80px 50px;
        max-width:600px; width:100%;
        height: 70vh;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:12px; line-height:30px;

          b {
            font-size:18px; line-height:30px;
          }
        }
      }
      .media-panel {
        position: absolute;
        background: transparent;
        max-width: 500px; width: 100%;
        top: 43%; left: 37%;
        padding: 30px 50px 80px 50px;
        margin:0 auto;
        border-radius:4px;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(100px);
        -khtml-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);

        .swiper-button-prev, .swiper-button-next {
          border-radius:4px;
          outline:0!important;
          padding: 20px;
          box-shadow: -7px 3px 14px 5px #00000024;
          top: 40%;

          &:after {
            display:none;
          }
        }
        .swiper-button-prev {
          background: @mainCol1b url('../img/icons/btn-arrow-left-red.svg') no-repeat center center;
          left: -10px;
        }
        .swiper-button-next {
          background: @mainCol1b url('../img/icons/btn-arrow-right-red.svg') no-repeat center center;
          right: -10px;
        }

        .swiper-shadow-box {
          position: absolute;
          top: 30px;
          left: 50px;
          z-index: 1;
          border-radius: 4px;
          width: 400px;
          height: 485px;
          box-shadow: -7px 3px 14px 5px #00000024;
        }
        .swiper-container {
          width: 100%;
          background: transparent;
          z-index:2;

          .swiper-slide {
            margin-bottom:60px;

            .profile-item {
              position: relative;
              border-bottom: 2px solid @mainCol2;
              overflow:hidden;
              width:100%;
              border-radius: 4px;

              .profile {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                border-bottom: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                width:100%;
                cursor:pointer; *cursor:hand;

                h1 {
                  color:@mainCol1b;
                  font-size:32px; line-height:32px;
                  margin-top: 10px;
                  opacity:0;
                  position: absolute;
                  bottom:-10px; left:20px;
                  z-index:2;
                  padding: 0 0 0 20px;

                  span {
                    display:block;
                    font-family: 'dinpro-regular';
                    font-size:20px; line-height:20px;
                    margin:10px 0;

                    &:last-of-type {
                      font-size:12px; line-height:12px;
                      //margin:10px 0 0 0;
                    }
                  }
                  &:before {
                    content: '';
                    height: 100%;
                    width: 2px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: @mainCol1b;
                  }
                }

                img {

                  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                }

                &:after {
                  content:'';
                  display:block;
                  position:absolute;
                  z-index:1;
                  top:0; left:0;
                  width:100%; height:100%;
                  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,39,118,1) 90%);
                }

              }
              .bio {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                padding: 20px 40px 30px 40px;
                width:100%;
                background:@mainCol1b;
                min-height: 240px;

                .mobi-scroll {
                  max-height: 180px;
                  overflow:hidden;
                  position:relative;

                  .scroll-content {
                    max-height: inherit;
                    overflow-y:scroll;
                    position:relative;
                    padding: 0 40px 40px 0;
                  }

                  &:after {
                    content:'';
                    background:linear-gradient(transparent, @mainCol1b);
                    position:absolute;
                    bottom:-2px; left:0;
                    width:100%; height:60px;
                    z-index:4;
                    pointer-events: none;
                  }
                }

                span {
                  color:@mainCol4;
                  font-family: 'dinpro-bold';
                  font-size:12px; line-height:12px;
                  display:block;
                  margin: 10px 0 20px 0;

                  &.topic {
                    opacity:0;

                    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

                    -webkit-transform: translateY(-50px);
                    -khtml-transform: translateY(-50px);
                    -moz-transform: translateY(-50px);
                    -ms-transform: translateY(-50px);
                    -o-transform: translateY(-50px);
                    transform: translateY(-50px);
                  }
                }
                p {
                  padding: 0;
                  color:@text1;
                  font-size:18px; line-height:30px;
                }
              }
            }

            .anglo-btn {
              position:absolute;
              right:30px; bottom:-10px;
              border-radius:4px;
              border: 0;
              padding: 25px 50px 25px 40px;
              outline:0 !important;
              font-family: 'dinpro-bold';
              background:@mainCol4;
              color:@mainCol1b;
              box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);

              -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

              &:after {
                content:'';
                width:18px; height:12px;
                background:url('../img/icons/btn-arrow.svg') no-repeat center center;
                display:inline-block;
                position: relative;
                top: 1px;
                left: 15px;
                will-change:left;

                -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
              }

              &:hover {

                &:after {
                  left: 20px;
                }
              }
            }

            &.swiper-slide-active {

              span.topic, h1 {
                transition-delay: 0.4s;

                -webkit-transform: translateX(0px) translateY(0px) !important;
                -khtml-transform: translateX(0px) translateY(0px)!important;
                -moz-transform: translateX(0px) translateY(0px) !important;
                -ms-transform: translateX(0px) translateY(0px) !important;
                -o-transform: translateX(0px) translateY(0px) !important;
                transform: translateX(0px) translateY(0px) !important;
                opacity:1 !important;
              }
            }
          }
        }
      }
    }
  }
  &.speak-to-us {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 12vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }
      .swiper-pagination {
        position: relative;
        text-align: center;
        bottom: -10px;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          margin-right:10px;
          display: inline-block;
          border-radius: 50%;
          background: #7A8CB7;
          opacity: 1;

          &:last-of-type {
            margin-right:0;
          }
          &.swiper-pagination-bullet-active {
            background: @mainCol4;
          }
        }
      }

      .info {
        background:@mainCol1b;
        padding: 80px 50px;
        max-width:800px; width:100%;
        height: 60vh;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 150px 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
      }
      .media-panel {
        position: relative;
        background: transparent;
        max-width: 600px; width: 100%;
        top: 30px; left: 0;
        padding: 0;
        margin:0 auto;
        border-radius:4px;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateY(100px);
        -khtml-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);

        .swiper-button-prev, .swiper-button-next {
          border-radius:4px;
          outline:0!important;
          padding: 20px;
          box-shadow: -7px 3px 14px 5px #00000024;
          top: 28%;

          &:after {
            display:none;
          }
        }
        .swiper-button-prev {
          background: @mainCol1b url('../img/icons/btn-arrow-left-red.svg') no-repeat center center;
          left: -50px;
        }
        .swiper-button-next {
          background: @mainCol1b url('../img/icons/btn-arrow-right-red.svg') no-repeat center center;
          right: -50px;
        }

        .swiper-shadow-box {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-radius: 4px;
          width: 100%;
          height: 176px;
          box-shadow: -7px 3px 14px 5px #00000024;
        }
        .swiper-container {
          width: 100%;
          background: transparent;
          z-index:2;

          .swiper-slide {
            margin-bottom:60px;

            .profile-item {
              position: relative;
              border-bottom: 2px solid @mainCol2;
              margin-bottom: 60px;
              width:100%;
              border-radius: 4px;
              display: flex;

              .profile {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                width:60%;
                display:inline-block;
                padding: 20px;
                background:@mainCol4;

                h1 {
                  color:@mainCol1b;
                  font-size:24px; line-height:24px;
                  margin: 0;
                  opacity:0;
                  position: relative;
                  z-index:2;
                  padding: 0 0 0 20px;

                  &:before {
                    display:none
                  }

                  span {
                    display:block;
                    font-family: 'dinpro-regular';
                    font-size:15px; line-height:15px;
                    margin:15px 0 0 0;

                    &:last-of-type {
                      font-size:12px; line-height:12px;
                      //margin:10px 0 0 0;
                    }
                  }
                }
                p {
                  color:@mainCol1b;
                  font-size:15px; line-height:20px;
                  font-family: 'dinpro-bold';
                  padding: 0 20px;
                  margin-bottom: 0;
                  opacity:0;

                  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
                  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

                  transition-delay: 0.6s;

                  -webkit-transform: translateY(40px);
                  -khtml-transform: translateY(40px);
                  -moz-transform: translateY(40px);
                  -ms-transform: translateY(40px);
                  -o-transform: translateY(40px);
                  transform: translateY(40px);


                  &:before {
                    content:'';
                    height:2px; width:100%;
                    display:block;
                    position:relative;
                    background:@mainCol1b;
                    margin: 20px 0;
                  }
                }

              }
              .bio {
                position:relative;
                border-radius: 4px;
                overflow:hidden;
                padding: 20px 40px;
                width: 40%;
                background:@mainCol1b;
                display:inline-block;

                span {
                  color:@mainCol4;
                  font-size:12px; line-height:12px;
                  display:block;
                  margin: 15px 0 2px 0;
                }
                p {
                  padding: 0;
                  margin-bottom: 0;
                  color:@text1;
                  font-size:18px; line-height:18px;
                  display:block;
                  font-family: 'dinpro-bold';
                }
              }
            }

            .anglo-btn {
              position:absolute;
              right:30px; bottom:-10px;
              border-radius:4px;
              border: 0;
              padding: 25px 50px 25px 40px;
              outline:0 !important;
              font-family: 'dinpro-bold';
              background:@mainCol4;
              color:@mainCol1b;
              box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);

              -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
              transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

              &:after {
                content:'';
                width:18px; height:12px;
                background:url('../img/icons/btn-arrow.svg') no-repeat center center;
                display:inline-block;
                position: relative;
                top: 1px;
                left: 15px;
                will-change:left;

                -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
                transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
              }

              &:hover {

                &:after {
                  left: 20px;
                }
              }
            }

            &.swiper-slide-active {

              h1, p {
                transition-delay: 0.4s;

                -webkit-transform: translateX(0px) translateY(0px) !important;
                -khtml-transform: translateX(0px) translateY(0px)!important;
                -moz-transform: translateX(0px) translateY(0px) !important;
                -ms-transform: translateX(0px) translateY(0px) !important;
                -o-transform: translateX(0px) translateY(0px) !important;
                transform: translateX(0px) translateY(0px) !important;
                opacity:1 !important;
              }
            }
          }
        }
      }
    }
  }
  &.connect {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 8vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 80px 50px;
        max-width:800px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 2px solid @mainCol2;
        position:relative;
        z-index:2;


        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          span {
            font-family: 'dinpro-thin';
            font-size:32px;
          }

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
        a {
          margin-top:20px;
          font-size:18px; line-height:30px;
          color:@mainCol4;
        }
      }
      .info-base {
        position:relative;
        background:@mainCol5;
        max-width:800px; width:100%;
        padding: 150px 100px 80px 100px;
        margin:0 auto;
        border-radius: 4px;
        bottom: 100px;
        left: 100px;
        text-align: right;
        opacity:0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateY(100px);
        -khtml-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);

        .anglo-btn {
          position:absolute;
          right:100px; bottom:-10px;
          border-radius:4px;
          border: 0;
          padding: 25px 50px 25px 40px;
          outline:0 !important;
          font-family: 'dinpro-bold';
          background:@mainCol4;
          color:@mainCol1b;
          box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

          &:after {
            content:'';
            width:18px; height:12px;
            background:url('../img/icons/btn-arrow.svg') no-repeat center center;
            display:inline-block;
            position: relative;
            top: 1px;
            left: 15px;
            will-change:left;

            -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          }

          &:hover {

            &:after {
              left: 20px;
            }
          }
        }
        .social {
          position:relative;
          display:inline-block;
          padding: 40px;
          margin-right: 50px;
          border-radius:4px;
          border: 0;
          bottom:0;
          box-shadow: 0 3px 20px 0 rgba(0,0,0,0.3);
          background:@mainCol4;
          color:@mainCol1b;

          will-change:transform;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

          &.linkedin {
            background:@mainCol4 url('../img/icons/social/linkedin.svg') no-repeat center center;
          }
          &.facebook {
            background:@mainCol4 url('../img/icons/social/facebook.svg') no-repeat center center;
          }
          &.twitter {
            background:@mainCol4 url('../img/icons/social/twitter.svg') no-repeat center center;
          }
          &.youtube {
            background:@mainCol4 url('../img/icons/social/youtube.svg') no-repeat center center;
          }

          &:last-of-type {
            margin-right:0;
          }

          &:hover {
            transform:scale(0.9);
          }
        }
        .media-link {
          color:@mainCol4;

          margin-right:40px;

          &:last-of-type {
            margin-right:0;
          }
        }
      }
    }
  }
  &.brochures {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 8vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .info-base{
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 80px 50px 30px 50px;
        max-width:800px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 2px solid @mainCol2;
        position:relative;
        z-index:2;


        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          span {
            font-family: 'dinpro-thin';
            font-size:32px;
          }

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
      }
      .info-base {
        position:relative;
        background:@mainCol5;
        max-width:800px; width:100%;
        padding: 140px 60px 50px 50px;
        margin:0 auto;
        border-radius: 4px;
        bottom: 100px;
        left: 100px;
        text-align: right;
        opacity:0;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateY(100px);
        -khtml-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);

        .social {
          position:relative;
          display:inline-block;
          padding: 40px;
          margin-right: 50px;
          border-radius:4px;
          border: 0;
          bottom:0;
          box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);
          background:@mainCol2;
          color:@mainCol1b;

          will-change:transform;
          background:@mainCol2 url('../img/icons/social/linkedin.svg') no-repeat center center;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

          &.linkedin {
            background:@mainCol2 url('../img/icons/social/linkedin.svg') no-repeat center center;
          }

          &:last-of-type {
            margin-right:0;
          }

          &:hover {
            transform:scale(0.9);
          }
        }
        .media-link {
          padding-left:30px;
          color:@mainCol4;
          margin-bottom:30px;

          &:last-of-type {
            margin-right:0;
          }
        }
      }
    }
  }
  &.mine-safety {
    .modal-info {
      max-width:100vw;
      width:100%;
      position: relative;
      z-index: 4;
      margin: 6vh auto 0 auto;

      .close-btn {
        position:absolute;
        top:30px; right:30px;
        padding-right: 40px;
        color:@mainCol4;
        font-size:18px; line-height:26px;
        cursor:pointer; *cursor:hand;
        font-family: 'dinpro-bold';

        &:after {
          content:'';
          width:30px; height:30px;
          position:absolute;
          right:0;top:0;
          display:block;
          background:url('../img/icons/btn-close.svg') no-repeat 0 0;
          background-size:100%;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
        }

        &:hover {

          &:after {
            transform:scale(0.8);
          }
        }
      }

      .info, .media-panel {
        opacity:0;
        will-change: transform, opacity;
      }

      .info {
        background:@mainCol1b;
        padding: 80px 50px 120px 50px;
        max-width:1100px; width:100%;
        margin:0 auto;
        border-radius: 4px;
        border-bottom: 2px solid @mainCol2;


        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(-100px);
        -khtml-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);

        .mobi-scroll {
          max-height: 220px;
          overflow:hidden;
          position:relative;

          .scroll-content {
            max-height: inherit;
            overflow-y:scroll;
            position:relative;
            padding: 0 40px 40px 0;
          }

          &:after {
            content:'';
            background:linear-gradient(transparent, @mainCol1b);
            position:absolute;
            bottom:-2px; left:0;
            width:100%; height:60px;
            z-index:4;
            pointer-events: none;
          }
        }

        h1 {
          position: relative;
          padding: 0 0 0 30px;
          color:@mainCol4;
          font-size:48px; line-height:58px;

          &:before {
            content:'';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0;
            top: 0;
            background:@mainCol3;
          }
        }
        p {
          padding: 0 0 0 30px;
          color:@text1;
          font-size:18px; line-height:30px;
        }
        ol {
          font-family: 'dinpro-regular';

          li {
            font-family: 'dinpro-regular';
            padding: 0 0 0 10px;
            color:@text1;
            font-size:18px; line-height:30px;
          }
        }
      }
      .media-panel {
        position: absolute;
        left: 48%; top: 80%;
        padding: 0;
        max-width: 660px; width:100%;
        border-radius: 4px;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

        -webkit-transform: translateX(100px);
        -khtml-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);

        .anglo-btn {
          position:absolute;
          right:50px; bottom:-10px;
          border-radius:4px;
          border: 0;
          padding: 25px 50px 25px 40px;
          outline:0 !important;
          font-family: 'dinpro-bold';
          background:@mainCol4;
          color:@mainCol1b;
          box-shadow: 0 3px 20px 0 rgba(0,0,0,0.1);

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

          &:after {
            content:'';
            width:18px; height:12px;
            background:url('../img/icons/btn-arrow.svg') no-repeat center center;
            display:inline-block;
            position: relative;
            top: 1px;
            left: 15px;
            will-change:left;

            -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
            transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
          }

          &:hover {

            &:after {
              left: 20px;
            }
          }
        }

        img {
          width:100%;
        }
      }
    }
  }
  &.worldwide-display {
    .modal-info {

      .info {
        padding: 80px 50px 50px 50px;

      }
    }
  }

  &.active,  &.welcome.active, &.welcome-floor.active, &.thanks.active, &.speakers.active, &.speak-to-us.active, &.innobox.active, &.connect.active, &.brochures.active, &.mine-safety.active {
    opacity:1;
    z-index:99;

    .overlay {
      opacity:1;
      transition-delay: 0.3s;
    }
    .media-panel,.info, .info-base {
      transition-delay: 0.6s;
      opacity:1;
      -webkit-transform: translateX(0px) translateY(0px);
      -khtml-transform: translateX(0px) translateY(0px);
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -o-transform: translateX(0px) translateY(0px);
      transform: translateX(0px) translateY(0px);

      .anglo-btn {
        transition-delay: 1s;
        bottom:-35px;
      }
      .swiper-container .swiper-slide {
        .anglo-btn {
          transition-delay: 1s;
          bottom:-35px;
        }
      }
    }

  }

}

#mainOverlay {
  background: #000000a6;
  position:fixed;
  top:0; left:0;
  width:100vw; height:100vh;
  z-index:1;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

  will-change: opacity;

  opacity:0;

  &.active {
    opacity:1;
    //transition-delay: 0.3s;
  }
}