* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

// colors
// quick colors
@mainCol1: #FFFFFFE6;
@mainCol1b: #FFFFFF;
@mainCol2: #c60c30;
@mainCol3: #0075b0;
@mainCol4: #002776;
@mainCol5:#D2DAE7;
@mainCol6:#a3abb7;
@text1:#5E6979;

// preloader modal animation
@keyframes loading-anim {
  0% {
    transform: translate(0, 0);
    width:0;
  }
  100% {
    transform: translate(300%, 0);
    width:45%;
  }
}
.page-loader{
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: @mainCol4 url('../img/logo.svg') no-repeat center center;
  background-size:20%;
  display: block;

  will-change:transform;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 2.4s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 2.4s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 2.4s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 2.4s;

  .fa {
    font-size: 2.5rem;
  }
  .logo {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:10vw;
    margin-top: 20vw;
  }

  .loader-bar {
    width:100%;
    height:8px;
    margin:0 auto;
    overflow:hidden;
    z-index:9;
    position: absolute;
    bottom:0;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.4s;


    &:after {
      content:'';
      //background: linear-gradient(45deg,@mainCol2,@mainCol1,@mainCol2);
      background: @mainCol3;
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0px;

      -webkit-animation: loading-anim 3s infinite forwards;
      -khtml-animation: loading-anim 3s infinite forwards;
      -moz-animation: loading-anim 3s infinite forwards;
      -ms-animation: loading-anim 3s infinite forwards;
      -o-animation: loading-anim 3s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
    &:before {
      content:'';
      //background:linear-gradient(45deg, @mainCol2,@mainCol1,@mainCol2);
      background:@mainCol1;
      position:absolute;
      width:20%;
      height:100%;
      left:0;
      top:0;

      -webkit-animation: loading-anim 3s infinite reverse;
      -khtml-animation: loading-anim 3s infinite reverse;
      -moz-animation: loading-anim 3s infinite reverse;
      -ms-animation: loading-anim 3s infinite reverse;
      -o-animation: loading-anim 3s infinite reverse;
      -webkit-animation-play-state: running;
      animation-play-state: running;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
    }
  }

  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;

    .loader-bar {
      height:0;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 768px) {
    &.grow {
      opacity: 1;
      -webkit-transform: scale(1.4) translateY(0);
      -khtml-transform: scale(1.4) translateY(0);
      -moz-transform: scale(1.4) translateY(0);
      -ms-transform: scale(1.4) translateY(0);
      -o-transform: scale(1.4) translateY(0);
      transform: scale(1.4) translateY(0);
    }
    &.hidden {
      opacity: 0;
      -webkit-transform: scale(1.5) translateY(0);
      -khtml-transform: scale(1.5) translateY(0);
      -moz-transform: scale(1.5) translateY(0);
      -ms-transform: scale(1.5) translateY(0);
      -o-transform: scale(1.5) translateY(0);
      transform: scale(1.5) translateY(0);

      .loader-bar {
        height:0;
      }
    }
  }

}

::-webkit-scrollbar {
  width: 5px;
}
::-khtml-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}
::-ms-scrollbar {
  width: 5px;
}
::-o-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px @mainCol6;
}
::-khtml-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px @mainCol6;
}
::-moz-scrollbar-track {
  -webkit-box-shadow: inset 120px 120px 124px @mainCol6;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol4;
}
::-khtml-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol4;
}
::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 76px @mainCol4;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: absolute;
  top: 20px;
  left: 100px;
  text-align: center;
  background:@mainCol1;
  padding:21px;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

  .sceneName {
    font-size: 14px;
    line-height: 17px;
    color:@mainCol4;
    margin: 0;
    font-family: 'dinpro-bold';

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.8s;

    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

#rotateScreen {
  display: block;
  position: fixed;
  opacity:0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: @mainCol4;
  background-size: cover;
  will-change: transform;
  //-webkit-transform: scale(0);
  //-khtml-transform: scale(0);
  //-moz-transform: scale(0);
  //-ms-transform: scale(0);
  //transform: scale(0);
  -webkit-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -khtml-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -moz-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  -ms-transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;
  transition: all cubic-bezier(0.18, 0.89, 0.26, 1.08) 0.7s;

  h1,h2 {
    color:#ffffff;
    text-align: center;
    font-style:normal;
    opacity:0;
    margin: 0 auto 20px auto;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;


  }
  h1 {
    position:relative;
    top:40px;
    font-size: 30px;
    line-height: 40px;
    transition-delay:1.4s;
    font-family: 'dinpro-bold';
  }
  h2 {
    font-family: 'dinpro-regular';
    position:relative;
    top:80px;
    font-size: 16px;
    line-height: 20px;
    transition-delay:1.6s;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(16deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  span {
    width: 32px;
    height: 32px;
    display:block;
    margin: -14vw auto 55vw auto;
    opacity:0;
    position:relative;

    -webkit-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -khtml-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -moz-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    -ms-transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;
    transition: all cubic-bezier(0.1, 1.02, 0.32, 1.28) 0.6s;

    transition-delay:1.2s;

    &:after {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:2;
      width: 32px;
      height: 32px;
      display:block;
      background:url(../img/rotate-display-icon2.svg) no-repeat top left;

      -webkit-animation: rotate 2s infinite forwards;
      -khtml-animation: rotate 2s infinite forwards;
      -moz-animation: rotate 2s infinite forwards;
      -ms-animation: rotate 2s infinite forwards;
      -o-animation: rotate 2s infinite forwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
    }

    &:before {
      content:'';
      position:absolute;
      top:5px; left:5px;
      z-index:4;
      width: 32px;
      height: 32px;
      display:block;
      background:url(../img/rotate-display-icon.svg) no-repeat top left;
    }
  }

  &.active {
    opacity:1;
    z-index: 999;
    //-webkit-transform: scale(1);
    //-khtml-transform: scale(1);
    //-moz-transform: scale(1);
    //-ms-transform: scale(1);
    //transform: scale(1);
    //width: 100%;
    display: block;

    h1, h2 {
      opacity:1;
      top:0;
    }

    span {
      margin: 7vw auto 3vw auto;
      opacity:1;
    }
  }
}


/* Top Navigation Bar */
#topNav {
  position: absolute;
  display: block;
  top: 20px;
  width: 100%;
  text-align: center;

  #sceneListToggle {
    position: absolute;
    top: 0;
    left: 20px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: @mainCol1;
    border-radius: 4px;
    cursor:pointer; *cursor:hand;

    span {
      background: @mainCol4;
      display: block;
      width: 100%;
      height: 5px;
      margin-top: 6px;
      position:relative;
      max-width: 40px;
      will-change: transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.4s;

    }

    &.enabled {


      span {
        background: @mainCol2;
      }
      .shape1 {
        -webkit-transform: rotate(-45deg) translateX(-7px) translateY(7px);
        -khtml-transform: rotate(-45deg) translateX(-7px) translateY(7px);
        -moz-transform: rotate(-45deg) translateX(-7px) translateY(7px);
        -ms-transform: rotate(-45deg) translateX(-7px) translateY(7px);
        -o-transform: rotate(-45deg) translateX(-7px) translateY(7px);
        transform: rotate(-45deg) translateX(-7px) translateY(7px);
        //width: 60px;
      }
      .shape2 {
        -webkit-transform: rotate(-45deg) translateX(0px) translateY(-1px);
        -khtml-transform: rotate(-45deg) translateX(0px) translateY(-1px);
        -moz-transform: rotate(-45deg) translateX(0px) translateY(-1px);
        -ms-transform: rotate(-45deg) translateX(0px) translateY(-1px);
        -o-transform: rotate(-45deg) translateX(0px) translateY(-1px);
        transform: rotate(-45deg) translateX(0px) translateY(-1px);
        //width:0; height: 5px;
      }
      .shape3 {
        -webkit-transform: rotate(45deg) translateX(-8px) translateY(-8px);
        -khtml-transform: rotate(45deg) translateX(-8px) translateY(-8px);
        -moz-transform: rotate(45deg) translateX(-8px) translateY(-8px);
        -ms-transform: rotate(45deg) translateX(-8px) translateY(-8px);
        -o-transform: rotate(45deg) translateX(-8px) translateY(-8px);
        transform: rotate(45deg) translateX(-8px) translateY(-8px);
        //width: 60px;
      }
    }
  }

  #sceneList {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 300px;


    -webkit-transform: translateX(-380px);
    -khtml-transform: translateX(-380px);
    -moz-transform: translateX(-380px);
    -ms-transform: translateX(-380px);
    -o-transform: translateX(-380px);
    transform:translateX(-380px);

    will-change:transform, max-height;

    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

    &.enabled {
      opacity: 1;
      -webkit-transform: translateY(0);
      -khtml-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }

    .scenes {
      width: 100%;
      border-radius: 4px;
      background-color: @mainCol1;
      overflow:hidden;
      padding: 0;

      li {
        display: block;
        position:relative;
        width: 100%;
        color:@mainCol4;
        will-change:background-color, color;

        text-align:left;
        text-transform:uppercase;
        width: 100%;
        height: 100%;
        padding: 15px 15px 15px 60px;
        font-family: 'dinpro-bold';
        font-size: 14px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
        -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
        -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
        transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

        a {
          font-family: 'dinpro-bold';
          text-align:left;
          text-transform:uppercase;
          width: 100%;
          height: 100%;
          padding: 0;
          font-family: 'dinpro-bold';
          font-size: 14px;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:before {
          content:'';
          position: absolute;
          z-index:2;
          width: 20px;
          height: 20px;
          left:20px; top:20px;
          background-size: contain !important;

        }

        &.welcome-desk {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-welcome-desk.svg') no-repeat center center;
          }
        }
        &.discussion-wall {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-discussion-wall.svg') no-repeat center center;
          }
        }
        &.worldwide-display {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-worlwide-display.svg') no-repeat center center;
          }
        }
        &.motivation-board {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-motivation-board.svg') no-repeat center center;
          }
        }
        &.hot-desk {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-hot-desk.svg') no-repeat center center;
          }
        }
        &.community-wall {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-community-wall.svg') no-repeat center center;
          }
        }
        &.speaker-profiles {

          &:before {
            background:transparent url('../img/icons/menu/icn-location-speaker-stand.svg') no-repeat center center;
          }
        }

        &.sub {

          &:after {
            content:'';
            position:absolute;
            width:20px; height:20px;
            display:none;
            top:20px;
            right:20px;
            background:url('../img/icons/icon-menu-arrow.svg') no-repeat center center;
          }
        }

        ul {
          //list-style: none;
          list-style-image:url('../img/icons/list-spot.svg');
          padding-left: 0;
          overflow: hidden;
          height:0;

          -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
          transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

          li {
            font-size:12px;
            text-transform:none;
            font-family: 'dinpro-regular';
            padding: 0;
            height: auto;
            list-style-image:url('../img/icons/list-spot.svg');

            &:before {display:none}

            a {
              font-size:12px;
              text-transform:none;
              font-family: 'dinpro-regular';
              padding: 0;

              &:before {
                content:'';
                background:url('../img/icons/list-spot.svg') no-repeat center center;
                width:15px; height:15px;
                display:inline-block;
                margin-right:10px;
                position: relative;
                top: 4px;
              }
            }
          }
        }

        @media screen and (min-width: 200px) and (max-width: 8000px){
          &.sub:after {
            display:block;
          }

          &:hover {
            background-color: @mainCol1b;
            color:@mainCol3;

            &:before {
              opacity:0.6;
            }

            &.sub {
              background-color: @mainCol1;
              color:@mainCol3;

              &:after {
                content:'';
                position:absolute;
                width:20px; height:20px;
                display:block;
                top:20px;
                right:20px;
                background:url('../img/icons/icon-menu-arrow.svg') no-repeat center center;
                transform:rotate(180deg);
              }

              ul {
                height:60px;
              }

              &.long {
                ul {
                  height:120px;
                }
              }
            }
          }
        }

      }

    }

    .icon {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
    }
  }

}

/* View control buttons */
.view-control-buttons #viewControls{
  display: block;
}

#viewControls {
  position: absolute;
  display: block;
  bottom: 20px;
  width: 100%;
  text-align: center;

  .viewControlButton {
    display: block;
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: @mainCol1;
    //border-radius: 4px;

    .icon {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px;
      //filter: invert(1);
    }

  }

  .control-part {
    display: inline-block;
    margin-right: 20px;
    background-color: @mainCol1;
    border-radius: 4px;
    overflow: hidden;

    &:last-of-type {
      margin-right:0;
    }
  }

  #fullscreenToggle {
    display: block;

    .icon {

      &.off {
        display: inline-block;
      }
      &.on {
        display: none;
      }
    }

    &.enabled {

      .icon {

        &.off {
          display: none;
        }
        &.on {
          display: inline-block;
        }
      }
    }
  }
  #autorotateToggle {

    .icon {

      &.off {
        display: inline-block;
      }
      &.on {
        display: none;
      }
    }

    &.enabled {

      .icon {

        &.off {
          display: none;
        }
        &.on {
          display: inline-block;
        }
      }
    }
  }
  #toggleDeviceOrientation {

    .icon {

      &.off {
        display: inline-block;
      }
      &.on {
        display: none;
      }
    }

    &.enabled {

      .icon {

        &.off {
          display: none;
        }
        &.on {
          display: inline-block;
        }
      }
    }
  }
}

.hotspot {
  &.info-hotspot {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

    h1 {
      position:absolute;
      font-size:0; line-height:18px;
      margin: 0;
      color:@mainCol4;
      background:@mainCol4;
      padding:0;
      z-index:1;
      text-transform:none;

      top: 10px;
      left: 30px;

      width: 0;
      overflow: hidden;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    }

    &:before {
      content:'';
      position: absolute;
      z-index:2;
      width: 60px;
      height: 60px;
      cursor: pointer;
      border-radius:100px;
      round-clip: 100px;
      background-size: 50% !important;
    }

    &:after {
      content:'';
      position: absolute;
      top: -5px;
      left: -5px;
      z-index: 2;
      width: 70px;
      height: 70px;
      cursor: pointer;
      border-radius:100px;
      round-clip: 100px;
      border:3px solid @mainCol3;

      will-change:transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

      transform:scale(0.7);

    }

    &.welcome-desk {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-welcome-desk.svg') no-repeat center center;
      }
    }
    &.discussion-wall-speech {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-thank-you-note.svg') no-repeat center center;
      }
    }
    &.worldwide-display {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-global-footprint.svg') no-repeat center center;
      }
    }
    &.motivation-board-purpose {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-our-purpose.svg') no-repeat center center;
      }
    }
    &.motivation-board-care {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-we-care.svg') no-repeat center center;
      }
    }
    &.hot-desk-future-smart {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-futuresmart.svg') no-repeat center center;
      }
    }
    &.hot-desk-brochures {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-download-brochures.svg') no-repeat center center;
      }
    }
    &.hot-desk-innobox {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-innobox.svg') no-repeat center center;
      }
    }
    &.hot-desk-connect {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-connect-with-us.svg') no-repeat center center;
      }
    }
    &.community-wall-social-way {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-our-people.svg') no-repeat center center;
      }
    }
    &.community-wall-sustainable-mining {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-sustainable-mining-plan.svg') no-repeat center center;
      }
    }
    &.speaker-profiles-mine-safety {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-mine-safety.svg') no-repeat center center;
      }
    }
    &.speaker-profiles-our-people {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-speaker-profiles.svg') no-repeat center center;
      }
    }
    &.speak-to-us {

      &:before {
        background:@mainCol3 url('../img/icons/spots/icn-hotspot-speak-to-us.svg') no-repeat center center;
      }
    }

    &:hover {

      &:after {
        transform:scale(1);
      }

      h1 {
        top: -10px;
        left: 30px;
        padding: 15px 10px 15px 40px;
        color:@mainCol1b;
        width:200px;
        font-size:14px;
      }
    }
  }
  &.link-hotspot {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

    h1 {
      position:absolute;
      font-size:0; line-height:18px;
      margin: 0;
      color:@mainCol4;
      background:@mainCol3;
      padding:0;
      z-index:1;
      text-transform:none;

      top: 10px;
      left: 30px;

      width: 0;
      overflow: hidden;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    }

    &:before {
      content:'';
      position: absolute;
      z-index:2;
      width: 60px;
      height: 60px;
      cursor: pointer;
      border-radius:100px;
      round-clip: 100px;
      background-size: 50% !important;
    }

    &:after {
      content:'';
      position: absolute;
      top: -15px;
      left: -6px;
      z-index: 1;
      width: 70px;
      height: 120px;
      cursor: pointer;
      background:transparent url('../img/icons/spots/icn-location-bg.svg') no-repeat center center;

      will-change:transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

      transform:scale(0.7);

    }

    &.welcome-desk {

      &:before {
        background:transparent url('../img/icons/spots/icn-hotspot-welcome-desk.svg') no-repeat center center;
      }
    }
    &.discussion-wall {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-discussion-wall.svg') no-repeat center center;
      }
    }
    &.worldwide-display {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-worlwide-display.svg') no-repeat center center;
      }
    }
    &.motivation-board {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-motivation-board.svg') no-repeat center center;
      }
    }
    &.hot-desk {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-hot-desk.svg') no-repeat center center;
      }
    }
    &.community-wall {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-community-wall.svg') no-repeat center center;
      }
    }
    &.speaker-profiles {

      &:before {
        background:transparent url('../img/icons/spots/icn-location-speaker-stand.svg') no-repeat center center;
      }
    }

    &:hover {

      &:after {
        transform:scale(0.8);
      }

      h1 {
        top: 0;
        left: 50px;
        padding: 15px 10px 15px 40px;
        color:@mainCol1b;
        width:200px;
        font-size:14px;
        display:none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 8000px){
  #toggleDeviceOrientation {
    display: none !important;
  }
  .anglo-modal.wecare .modal-info .media-panel {
    top: 89% !important;
  }
  .anglo-modal .modal-info .media-panel iframe {
    height: 400px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1680px)
{
  .anglo-modal .modal-info .info iframe, .anglo-modal .modal-info .media-panel iframe {
    height: 350px !important;
  }
  .anglo-modal .modal-info .info h1 {
    font-size: 3vw !important;
    line-height: 4vw !important;
  }
  .anglo-modal .modal-info .info p {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.speakers .modal-info .info p b {
    font-size: 1.2vw;
    line-height: 1.6vw;
  }

  .anglo-modal.welcome .modal-info {
    margin: 3vh auto 0 auto !important;
  }
  .anglo-modal.speakers .modal-info .media-panel {
    left: 34% !important;
    top: 45%!important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-shadow-box {
    width: 400px;
    height: 453px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio p {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    min-height: 180px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 100px !important;
  }
  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 180px !important;
  }
  .anglo-modal.mine-safety .modal-info .info {
    padding: 80px 50px 100px 50px !important;
  }
  .anglo-modal.mine-safety .modal-info .info ol li {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .profile h1 {
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1440px)
{
  .anglo-modal .modal-info .info iframe, .anglo-modal .modal-info .media-panel iframe {
    height: 350px !important;
  }
  .anglo-modal .modal-info .info h1 {
    font-size: 3vw !important;
    line-height: 4vw !important;
  }
  .anglo-modal .modal-info .info p {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.welcome .modal-info {
    margin: 3vh auto 0 auto !important;
  }
  .anglo-modal.speakers .modal-info .media-panel {
    left: 32.5% !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio p {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 160px !important;
  }
  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 180px !important;
  }
  .anglo-modal.mine-safety .modal-info .info {
    padding: 80px 50px 100px 50px !important;
  }
  .anglo-modal.mine-safety .modal-info .info ol li {
    font-size: 1.2vw !important;
    line-height: 1.6vw !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .profile h1 {
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px)
{
  .anglo-modal .modal-info .info iframe, .anglo-modal .modal-info .media-panel iframe {
    height: 350px !important;
  }
  .anglo-modal .modal-info .info h1 {
    font-size: 2vw !important;
    line-height: 3vw !important;
  }
  .anglo-modal .modal-info .info p {
    font-size: 1vw !important;
    line-height: 1.4vw !important;
    margin-bottom: 20px!important;
  }
  .anglo-modal.welcome .modal-info {
    margin: 3vh auto 0 auto !important;
  }
  .anglo-modal.welcome-floor .modal-info .info {
    max-width: 980px !important;
  }
  .anglo-modal.speakers .modal-info, .anglo-modal.mine-safety .modal-info {
    margin: 3vh auto 0 auto !important;
  }
  .anglo-modal.speakers .modal-info .info {
    padding: 60px 50px 80px 50px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-shadow-box {
    height: 450px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    min-height: 200px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio p {
    font-size: 1vw !important;
    line-height: 1.4vw !important;
  }
  .anglo-modal.speakers .modal-info .media-panel {
    left: 31.5% !important;
    top: 44% !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll:after {
    height: 40px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 100px !important;
  }
  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 180px !important;
  }
  .anglo-modal.mine-safety .modal-info .info {
    padding: 80px 50px 100px 50px !important;
  }
  .anglo-modal.mine-safety .modal-info .info ol li {
    font-size: 1vw !important;
    line-height: 1.4vw !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .profile h1 {
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
  }
  .anglo-modal.wecare .modal-info .media-panel {
    top: 84% !important;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px)
{

}

@media screen and (min-width: 200px) and (max-width: 768px)
{
  .hotspot.link-hotspot:before {
    width: 40px;
    height: 40px;
    left: 10px;
  }
  .hotspot.link-hotspot:after {
    top: -14px;
    left: -6px;
    z-index: 1;
    width: 70px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .hotspot.info-hotspot {
    top: 20px;
    left: 10px;
  }
  .hotspot.info-hotspot:before {
    width: 40px;
    height: 40px;
  }
  .hotspot.info-hotspot:after, .hotspot.info-hotspot h1 {
    display:none;
  }

  .mobi-scroll {

    &:after {
      background: url('../img/scroll-fade.png') no-repeat 0 0 !important;
      background-size:cover!important;
    }
  }
  .anglo-modal .modal-info .swiper-pagination .swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    margin-right: 5px !important;
  }
  .direction-controls, .zoom-controls, #autorotateToggle {
    display: none !important;
  }

  .anglo-modal {
    padding: 0 8vw;

    .modal-info {
      margin: 2vh auto 0 auto !important;
      max-width: 100vw !important;

      .info {
        padding: 60px 30px 80px 30px !important;

        h1 {
          font-size: 32px !important;
          line-height: 45px !important;

          font-size: 6.5vw !important;
          line-height: 8vw !important;
        }
        p {
          font-size: 16px !important;
          line-height: 25px !important;

          font-size: 3.3vw !important;
          line-height: 5.3vw !important;

          margin-bottom: 20px !important;
        }
        ol li {
          font-size: 16px !important;
          line-height: 25px !important;

          font-size: 3.3vw !important;
          line-height: 5.3vw !important;
        }
      }
      .media-panel {
        width: 112% !important;
        left:0 !important;
        padding: 30px 10px !important;

        iframe {
          height:300px;
        }
      }
    }

    &.welcome {

      .modal-info {
        margin: 2vh auto 0 auto !important;

        .info {
          padding: 60px 30px 1px 30px !important;

          a {
            font-size: 3.3vw !important;
            line-height: 5.3vw !important;
            margin-top: 0 !important;
          }
        }
      }
    }
    &.future-smart {
      .info {

        .mobi-scroll {
          max-height: 200px;
          overflow:hidden;
          position:relative;

          .scroll-content {
            max-height: inherit;
            overflow-y:scroll;
            position:relative;
            padding: 0 30px 40px 0;
          }

          &:after {
            content:'';
            position:absolute;
            bottom:-2px; left:0;
            width:100%; height:60px;
            z-index:4;
            pointer-events: none;
          }
        }

      }
    }
    &.purpose {
      .info {

        .mobi-scroll {
          max-height: 160px;
          overflow:hidden;
          position:relative;

          .scroll-content {
            max-height: inherit;
            overflow-y:scroll;
            position:relative;
            padding: 0 30px 40px 0;
          }

          &:after {
            content:'';
            position:absolute;
            bottom:-2px; left:0;
            width:100%; height:60px;
            z-index:4;
            pointer-events: none;
          }
        }

      }
    }
    &.speakers {

      .modal-info {

        .info {

          p {
            font-size: 12px !important;

            font-size: 2.5vw !important;
            b {
              font-size: 16px !important;

              font-size: 3.3vw !important;
            }
          }
        }
        .media-panel {
          width: 100% !important;
          top: 40% !important;
          left: 0 !important;

          .swiper-shadow-box {
            top: 30px;
            left: 50px;
            width: 308px !important;
            height: 485px !important;
          }

          .swiper-container .swiper-slide .profile-item .bio p {
            font-size: 3.3vw !important;
            line-height: 5.3vw !important;
          }
        }
      }
    }
    &.speak-to-us {

      .modal-info {

        .info {

          p {
            padding:0 0 0 30px !important;
          }
        }
        .media-panel {
          padding: 30px 0px !important;
          width: 100% !important;
          top: -6%!important;
          left: 0 !important;

          .swiper-shadow-box {
            top: 30px !important;
            left: 0 !important;
            width: 378px !important;
            height: 278px !important;
          }
          .profile-item {
            display:block !important;
            margin-bottom: 0 !important;

            .profile, .bio {
              width: 100% !important;
              display:block !important;
              overflow: visible !important;

              h1, p {
                padding: 0 !important;
              }

              .info-box {
                display:inline-block;
                max-width:49%; width:100%;
                vertical-align: text-top;
                padding: 0 10% 0 0;

                p {
                  padding: 0 !important;
                }
              }
            }
            .profile {
              padding: 20px 20px 30px 20px !important;
            }
            .bio {
              padding-bottom: 40px !important;
            }
          }
        }
      }
    }
    &.innobox {

      .modal-info {

        .info {

          .mobi-scroll {
            max-height: 140px;
            overflow:hidden;
            position:relative;

            .scroll-content {
              max-height: inherit;
              overflow-y:scroll;
              position:relative;
              padding: 0 30px 40px 0;
            }

            &:after {
              content:'';
              background:linear-gradient(transparent, @mainCol1b);
              position:absolute;
              bottom:-2px; left:0;
              width:100%; height:60px;
              z-index:4;
              pointer-events: none;
            }
          }
          p {
            padding: 0 0 0 30px !important;
          }
        }
        .media-panel {
          width: 100% !important;
          top: 80% !important;
          left: 0 !important;

          .profile-item {

            .bio h1 {
              font-size: 5vw !important;
              line-height: 8vw !important;
            }
          }
          .swiper-shadow-box {
            top: 40px !important;
            left: 11px !important;
            width: 386px !important;
            height: 373px !important;
          }
        }
      }
    }
    &.mine-safety {

      .modal-info {

        .info {
          padding: 60px 30px 130px 30px !important;

          .mobi-scroll {
            max-height: 340px;
            overflow:hidden;
            position:relative;

            .scroll-content {
              max-height: inherit;
              overflow-y:scroll;
              position:relative;
              padding: 0 40px 40px 0;
            }

            &:after {
              content:'';
              background:linear-gradient(transparent, @mainCol1b);
              position:absolute;
              bottom:-2px; left:0;
              width:100%; height:60px;
              z-index:4;
              pointer-events: none;
            }
          }

        }
        .media-panel {
          padding: 30px 10px !important;
          left: 0 !important;
        }
      }
    }
    &.connect {

      .modal-info {

        .info {
          padding: 60px 30px 40px 30px !important;

          .mobi-scroll {
            max-height: 340px;
            overflow:hidden;
            position:relative;

            .scroll-content {
              max-height: inherit;
              overflow-y:scroll;
              position:relative;
              padding: 0 40px 40px 0;
            }

            &:after {
              content:'';
              background:linear-gradient(transparent, @mainCol1b);
              position:absolute;
              bottom:-2px; left:0;
              width:100%; height:60px;
              z-index:4;
              pointer-events: none;
            }
          }

        }
        .info-base {
          left: 20px !important;
          padding: 150px 30px 50px 30px !important;

          .social {
            margin-right: 10px !important;

            &:last-of-type {
              margin-right: 0 !important;
            }
          }
          .anglo-btn {
            right:30px !important;
          }
        }
      }
    }
    &.brochures {

      .modal-info {

        .info {
          padding: 60px 30px 40px 30px !important;
        }
        .info-base {
          left: 20px !important;
          padding: 150px 30px 40px 30px !important;
          text-align:left !important;

          .mobi-scroll {
            max-height: 160px;
            overflow:hidden;
            position:relative;

            .scroll-content {
              max-height: inherit;
              overflow-y:scroll;
              position:relative;
              padding: 0 110px 40px 0;
            }

            &:after {
              content:'';
              background: url('../img/scroll-fade-blue.png') no-repeat 0 0 !important;
              background-size:cover!important;
              position:absolute;
              bottom:-2px; left:0;
              width:100%; height:60px;
              z-index:4;
              pointer-events: none;
            }
          }

          .media-link {
            padding-right: 0 !important;

            &:last-of-type {
              margin-right: 0 !important;
            }
          }
          .anglo-btn {
            right:30px !important;
          }
        }
      }
    }
    &.wecare {

      .info {

        .mobi-scroll {
          max-height: 140px;
          overflow:hidden;
          position:relative;

          .scroll-content {
            max-height: inherit;
            overflow-y:scroll;
            position:relative;
            padding: 0 30px 40px 0;
          }

          &:after {
            content:'';
            position:absolute;
            bottom:-2px; left:0;
            width:100%; height:60px;
            z-index:4;
            pointer-events: none;
          }
        }

      }
    }
  }

}


// Xperia Xz3
@media screen and (min-width: 426px)  and (max-width: 485px)
{
  .anglo-modal .modal-info .media-panel iframe {
    height: 246px;
  }
}

// Hauwei p30
@media screen and (max-width: 425px)
{
  .anglo-modal .modal-info .media-panel iframe {
    height: 246px;
  }
  .anglo-modal.welcome .modal-info .info-base {
    padding: 10px 50px 60px 50px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 140px !important;
  }

  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 160px !important;
  }
  .anglo-modal.mine-safety .modal-info .media-panel {
    padding: 10px 10px !important;
    left: 0 !important;
  }

  .anglo-modal.speakers .modal-info .media-panel .swiper-shadow-box {
    top: 30px !important;
    left: 10px !important;
    width: 79vw !important;
    height: 105vw !important;
  }
  .anglo-modal.speakers .modal-info .swiper-pagination {
    bottom: 15px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-button-next {
    right: -30px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-button-prev {
    left: -30px !important;
  }

  .anglo-modal.connect .modal-info .info-base .social {
    padding: 35px !important;
  }

  .anglo-modal.innobox .modal-info .media-panel .swiper-shadow-box {
    top: 40px !important;
    left: 10px !important;
    width: 336px !important;
    height: 340px !important;
  }
  .anglo-modal.innobox .modal-info .info .mobi-scroll {
    max-height: 100px !important;
  }

  .anglo-modal.brochures .modal-info .info-base .mobi-scroll .scroll-content {
    padding: 0 60px 40px 0 !important;
  }

  .anglo-modal.speak-to-us .modal-info .media-panel {
    top: -4% !important;
  }
}

// IPHONE 6 PLUS
@media screen and (max-width: 414px)
{
  .anglo-modal .modal-info .media-panel iframe {
    height: 208px;
  }
  a.media-link {
    font-size: 4vw;
    line-height: 7vw;
  }
  .anglo-modal  {

    .modal-info .info {
      padding: 60px 30px 80px 30px !important;

      .mobi-scroll {
        max-height: 130px;
        overflow:hidden;
        position:relative;

        .scroll-content {
          max-height: inherit;
          overflow-y:scroll;
          position:relative;
          padding: 0 30px 30px 0;
        }

        &:after {
          content:'';
          position:absolute;
          bottom:-2px; left:0;
          width:100%; height:60px;
          z-index:4;
          pointer-events: none;
        }
      }
    }
  }

  .anglo-modal .modal-info .info p {
    margin-bottom: 15px !important;
  }

  .anglo-modal.welcome .modal-info .info-base iframe {
    height: 130px !important;
  }

  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 130px !important;
  }
  .anglo-modal.social-way .modal-info .media-panel {
    top: 77% !important;
  }

  .anglo-modal.speakers .modal-info .info p {
    padding: 0 0 10px 30px;
    line-height: 2.5vw !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    min-height: 220px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 120px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio span {
    margin: 0px 0 15px 0 !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-shadow-box {
    top: 30px !important;
    left: 10px !important;
    width: 79vw !important;
    height: 101vw !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll:after {
    height: 60px !important;
  }

  .anglo-modal.connect .modal-info .info-base .social {
    padding: 30px !important;
  }

  .anglo-modal.innobox .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    padding: 20px 30px 30px 30px !important;
  }
  .anglo-modal.innobox .modal-info .media-panel {
    width: 100% !important;
    top: 75% !important;
    left: 0 !important;
  }
  .anglo-modal.innobox .modal-info .media-panel .swiper-shadow-box {
    top: 40px !important;
    left: 10px !important;
    width: 329px !important;
    height: 303px !important;
  }

  .anglo-modal.brochures .modal-info .info-base .mobi-scroll .scroll-content {
    padding: 0 70px 40px 0 !important;
  }

}

// IPHONE 6
@media screen and (max-width: 375px)
{
  .anglo-modal.welcome .modal-info .info a {
    font-size: 18px;
    font-size: 4vw;
  }

  .anglo-modal .modal-info .info {
    padding: 50px 30px 60px 30px !important;
  }
  .anglo-modal .modal-info .info h1 {
    font-size: 5.5vw !important;
    line-height: 7vw !important;
  }
  .anglo-modal .modal-info .close-btn {
    top: 15px !important;
    right: 20px !important;
  }

  .anglo-modal.welcome .modal-info .info {
    padding: 50px 15px 1px 15px !important;
  }

  .anglo-modal.mine-safety .modal-info .info .mobi-scroll {
    max-height: 110px !important;
  }
  .anglo-modal.mine-safety .modal-info .info {
    padding: 80px 30px 80px 30px !important;
  }

  .anglo-modal.speakers .modal-info .swiper-pagination {
    bottom: 0 !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    min-height: 190px !important;
  }
  .anglo-modal.speakers .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio .mobi-scroll {
    max-height: 100px !important;
  }

  .anglo-modal.innobox .modal-info .media-panel {
    width: 100% !important;
    top: 76% !important;
    left: 0 !important;
  }
  .anglo-modal.innobox .modal-info .media-panel .swiper-shadow-box {
    top: 40px !important;
    left: 10px !important;
    width: 295px !important;
    height: 272px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    padding: 20px 30px 40px 30px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-shadow-box {
    top: 30px !important;
    left: 0 !important;
    width: 285px !important;
    height: 263px !important;
  }
}

// SAMSUNG S3 | S7 | SONY XPERIA Z5
@media screen and (max-width: 360px)
{
  .anglo-modal .modal-info .media-panel iframe {
    height: 170px;
  }
  .anglo-modal.welcome .modal-info .info {
    padding: 30px 30px 1px 30px !important;
  }
  .anglo-modal.welcome .modal-info .info {
    padding: 30px 15px 1px 15px !important;
  }
  .anglo-modal.connect .modal-info .info-base {
    left: 20px !important;
    padding: 150px 30px 50px 10px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .profile-item .bio .info-box {
    display: inline-block;
    max-width: 48%;
    width: 100%;
    vertical-align: text-top;
    padding: 0 10% 0 0;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel {
    top: -11% !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .profile-item .profile {
    padding: 10px 20px 10px 20px !important;
  }
}

@media screen and (max-width: 340px)
{
  #topNav #sceneList {z-index:9 !important}
  .anglo-modal .modal-info .close-btn {
    top: 10px !important;
    right: 10px !important;
    transform: scale(0.8);
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .profile-item .profile {
    padding: 10px 10px 10px 10px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    padding: 10px 10px 20px 20px !important;
  }
  .anglo-modal .modal-info .info {
    padding: 30px 20px 60px 20px !important;
  }

  .anglo-modal .modal-info .media-panel .swiper-container .swiper-slide .anglo-btn {
    padding: 15px 30px 15px 30px !important;
  }
  .anglo-modal.speak-to-us .modal-info .swiper-pagination {
    bottom: 10px!important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .bio {
    padding: 10px 10px 20px 20px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-container .swiper-slide .profile-item .profile h1 span {
    margin: 10px 0 0 0 !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-button-prev, .anglo-modal.speak-to-us .modal-info .media-panel .swiper-button-next {
    top: 51% !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-button-prev {
    left: -30px !important;
  }
  .anglo-modal.speak-to-us .modal-info .media-panel .swiper-button-next {
    right: -30px !important;
  }
  .anglo-modal.connect .modal-info .info-base .social {
    padding: 25px !important;
  }
  .anglo-modal .modal-info .media-panel iframe {
    height: 170px !important;
  }
  .anglo-modal.innobox .modal-info .media-panel .swiper-container .swiper-slide .anglo-btn {
    display:none;
  }
  .anglo-modal.innobox .modal-info .media-panel {
    width: 100% !important;
    top: 69% !important;
    left: 0 !important;
  }
  .anglo-modal.innobox .modal-info .media-panel .swiper-shadow-box {
    top: 40px !important;
    left: 10px !important;
    width: 250px !important;
    height: 242px !important;
  }
}

@media screen and (max-width: 280px)
{

}

