
@media screen and (min-width: 1920px) and (max-width: 2560px)
{

}

@media screen and (min-width: 1681px) and (max-width: 1920px)
{

}

@media screen and (max-width: 1680px)
{}

@media screen and (min-width: 1367px) and (max-width: 1680px)
{

}

@media screen and (min-width: 1281px) and (max-width: 1366px)
{

}

@media screen and(max-width: 1280px)
{

}

// Ipad responsive
@media screen and(max-width: 1024px)
{

}

@media screen and (max-width: 960px)
{

}

// General Mobile
@media screen and (min-width: 220px) and (max-width: 900px)
{

}

@media screen and (min-width: 640px) and (max-width: 768px)
{

}

// Xperia Xz3
@media screen and (min-width: 426px)  and (max-width: 485px)
{

}

// Hauwei p30
@media screen and (max-width: 425px)
{

}

// IPHONE 6 PLUS
@media screen and (max-width: 414px)
{

}

// IPHONE 6
@media screen and (max-width: 375px)
{

}

// SAMSUNG S3 | S7 | SONY XPERIA Z5
@media screen and (max-width: 360px)
{

}

@media screen and (max-width: 340px)
{

}

@media screen and (max-width: 280px)
{

}

@media (prefers-color-scheme: darks) {
  body {
    background:#000000;
  }
  .container, .container-fluid {
    background:#000000;

    &.page-master.light {
      p,a {
        color: #ffffff;
      }
    }
    &.page-footer {
      background: #1e1e1e;
    }
    h1,h1 span,h3,h4,p,blockquote {color:#ffffff !important}
    h2 {color:red !important}

    .owl-controls {
      filter:invert(1);
    }
    .btn-expander
    {
      color:#ffffff;

      &.expanded {

        &:after {
          background: red;
        }
      }


    }
  }

}