
@font-face {
  font-family: 'dinpro-bold';
  src: url('../fonts/ff-din-bold-woff2.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinpro-medium';
  src: url('../fonts/ff-din-medium-woff2.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro-regular';
  src: url('../fonts/ff-din-regular-woff2.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinpro-thin';
  src: url('../fonts/ff-din-thin-woff2.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu {
  font-family: 'dinpro-regular';
}

a {
  color:#1e1e1e;
  text-decoration:none;
  font-family: 'dinpro-regular';

  &.cta-link {
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 22px;
    display: inline-block;
    padding-right: 40px;
    position: relative;
    margin-bottom: 8px;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:after {
      content: "\e900";
      font-family: 'icomoon'!important;
      right: 15px;
      position: absolute;
      color: #c60c30;
      font-size: 13px;
      font-weight: normal;
      bottom: -3px;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    &:hover {
      color: @mainCol2;

      &:after {
        right:5px;
      }
    }
  }
  &.media-link {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    padding-right: 40px;
    position: relative;
    margin-bottom: 8px;
    text-decoration: none;
    -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
    transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

    &:before {
      content: '';
      background: #c60c30;
      bottom: -3px;
      position: absolute;
      width: 16px;
      height: 3px;
      border-radius: 20px;
      left: 2px;
    }

    &:after {
      content: "\e902";
      font-family: 'icomoon'!important;
      position: absolute;
      left: 2px;
      color: #c60c30;
      font-size: 20px;
      font-weight: normal;
      bottom: 0;

      will-change:transform;

      -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;
      transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 0.6s;

      transform: translateY(-2px);
    }

    @keyframes arrowUp {
      0% {
        transform: translateY(-2px);
      }
      50% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(-2px);
      }
    }

    &:hover {
      color: @mainCol2;

      &:before {
        background: #c60c30;
      }
      &:after {
        -webkit-animation: arrowUp 0.6s 1 forwards;
        -moz-animation: arrowUp 0.6s 1 forwards;
        -ms-animation: arrowUp 0.6s 1 forwards;
        -o-animation: arrowUp 0.6s 1 forwards;
        animation: arrowUp 0.6s 1 forwards;
        color: #c60c30!important;
      }
    }

  }

  &:hover, &:active, &:focus {
    text-decoration:none;
  }
}

h1 {
  font-family: 'dinpro-regular';
  color:inherit;
  margin-bottom:20px;
  margin-top:20px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: 500;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;

  &.centered {text-align:center}
}

h2 {
  font-family: 'dinpro-regular';
  color:inherit;
  margin-bottom:30px;
  margin-top:20px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: 500;

  -webkit-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -khtml-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  -moz-transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;
  transition: all cubic-bezier(0.34, 0.57, 0.21, 0.99) 1.3s;

  &.centered {text-align:center}
  &.bold {
    font-weight:bold;
  }
  &.bold {
    font-style:italic;
  }
}

h3 {
  font-family: 'dinpro-regular';
  color:inherit;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 0;
}

h1 {
  font-size: 6.4rem; line-height: 6.4rem;
}
h2 {
  font-size: 3.9rem; line-height: 3.9rem;
}
h3 {
  font-size:18px; line-height:18px;
}

p {
  font-family: 'dinpro-regular';
  color:inherit;
  font-size: 1.8rem;
  line-height: 30px;
  margin-bottom: 15x;
  font-weight: 400;
  font-style: normal;

  &.copyright {
    font-size: 11px;
    line-height: 11px;
    margin: 0;
  }
  &.centered {text-align:center}
  &.bold {
    font-weight:bold;
  }
}

h1, h2, h3, p, a, blockqoute {
  letter-spacing: 0;
  font-weight: normal;
  //font-style: normal;
}


